<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>This is the weather app my G</h1>
    <form method='POST'>
        {% csrf_token %}
        <!-- {{ form.city_name }} -->
        <input id='input' name='city_input' placeholder="Type city name here..." required>
        <button type="submit">Search</button>
    </form>
    
    <div style="text-align: center;">
        <h3>{{ response.main.temp }} K</h3>
        <h2>{{ response.name }}</h2>
        <img src='http://openweathermap.org/img/w/{{ response.weather.0.icon }}.png' />
        <p>{{ response.weather.0.description }}</p>
    </div>
    
</body>
</html>